
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

*{

    font-family: "M PLUS 1p",sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1.6;

}
a{
    text-decoration: none;
    
}
.container{
    margin-top: 70px;
}